[package]
name = "virtual_machine"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hashbrown = "0.14.2"
parking_lot = { version = "0.12.1", features = ["hardware-lock-elision"] }
paste = "1.0.14"
rustc-hash = "1.1.0"
strum = { version = "0.25.0", features = ["derive"] }
